/* ****************************** VARIABLES ******************************* */
:root{
    --backgroundDark: #053b44;
    --menu: #fbfbfb;
    --menuItemSelected: #f2f2f2;
    --text: #565E65;
    --title2: #029D5B;
    --titles: #1C2126;
    --yellow: #D5F31F;
}
/* ************************************************************************ */


/* ************************ BASICS **************************************** */
* {
    box-sizing: border-box;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ************************************************************************ */


/* ************************ HELPERS *************************************** */
.center{
    text-align: center;
}
.coordSymbol{
    width: 25px;
}
.fLeft{
    float: left;
}
.fRight{
    float: right;
}
.jStart{
    justify-self: start;
}
.jEnd{
    justify-self: end;
}
.mAuto{
    margin: auto;
}
.pos00{
    object-position: 0% 0%;
}
/* ************************************************************************ */


/* ************************ ACCUEIL TITLE ********************************* */
#titleEndPart{
    color: var(--yellow);
}
/* ************************************************************************ */


/* ************************ HEADER ************************ */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: var(--menu);
    color: var(--text);
    border-bottom: 1px #ccc solid;
}
header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a {
    color: var(--titles);
    text-decoration: none;
    padding: 1em;
}
nav a:hover {
    background-color: var(--menuItemSelected);
}
/* ******************************************************** */


/* ************************ MENU ************************ */
.menu{
    justify-self: end;
}
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
}
#agenceEcoContainer{
    display: flex;
    color: var(--title2);;
    font-weight: 900;
}
#agenceEco{
    margin: auto;
}
#agenceEcoEnd{
    font-style: italic;
}
#menuContainer{
    display: grid;
    grid-template-columns: 10% 30% 60%;
    height: 55px;
    align-items: center;
}
#menuItemTeam::after{
    content: 'Notre équipe';
}
#menuItemService::after{
    content: 'Nos services';
}
#menuItemContact::after{
    content: 'Contactez-nous';
}
#menuItemGallery::after{
    content: 'Notre galerie';
}
#menuHamburger{
    text-align: center;
    margin-right: 5px;
}
#menuHamburger::after{
    content: '\2630';
}
#menu-toggle {
    display: none;
}
#menu-toggle:checked + .hamburger + nav a {
    display: block;
}
/* ****************************************************** */


/* ************************ SECTION *************************************** */
.contentSection {
    padding: 0 15%;
}
section {
    margin-top: 0px;
}
.sectionSeparator{
    height: 50px;
}
.sectionTitle{
    color:var(--title2);
    text-align: center;
    font-size: 33px;
    margin-bottom: 25px;
}
/* ************************************************************************ */


/* ************************ SECTION ACCUEIL ******************************* */
.accueil-content {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right; /* Aligner le texte à droite */
    max-width: 600px;
    margin: 0; /* Ajustez selon la maquette */
    padding: 2em; /* Ajustez pour positionner le contenu en bas à droite */
}
#accueil{
    position: relative;
    height: 100vh; /* Faire en sorte que la section d'accueil occupe toute la hauteur de la fenêtre */
    background-image: url('/reactHTML/img/rodion-kutsaev-049M_crau5k-unsplash-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#accueil h1 {
    color: white;
    font-size: 2.5em;
}
/* ************************************************************************* */


/* ************************ SECTION ÉQUIPE ********************************* */
.teamMember{
    object-position: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.teamMemberDescription{
    font-size: 14px;
    color: var(--text);
    font-weight: 400;
}
#teamMembersContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 50px;
}
#equipe{
    font-weight: 900;
    color: var(--titles);
}
/* ************************************************************************* */


/* ************************ SECTION SERVICES ******************************* */
.serviceContainer{
    display: flex;
    width: 177px;
    height: 177px;
    background-color: #eee;
    border-radius: 15px;
}
.service{
    object-position: center;
    object-fit: cover;
    text-align: center;
    width: 77px;
    height: 77px;
}
#servicesContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 80px;
    margin: 50px 0 50px;
}
#serviceLeft{
    justify-self: end;
    text-align: center;
}
#serviceRight{
    justify-self: start;
    text-align: center;
}
#services{
    font-weight: 900;
    color: var(--titles);
}
/* ************************************************************************* */


/* ************************ SECTION CONTACT ******************************** */
.form-group {
    margin-bottom: 15px; /* Ajoute un espace en dessous de chaque groupe d'entrée */
    width: 100%;
}
.form-group label {
    display: block; /* Rend le label en bloc pour qu'il occupe sa propre ligne */
    margin-bottom: 5px; /* Ajoute un petit espace entre le label et l'input */
}
.form-group input, textarea, #contactEmail  {
    width: 100%; /* Utiliser la largeur complète du conteneur */
    padding: 10px; /* Ajoute un peu d'espacement interne à l'input */
    border: 2px solid white; /* Une bordure légère pour l'input */
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--backgroundDark);
    color: white;
}
#contact{
    background-color: var(--backgroundDark);
    color: white;
    padding-bottom: 20px;
}
#contactButton{
    background-color: var(--yellow);
    border-radius: 15px;
    font-weight: 900;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
    border: none;
}
#contactButtonContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#contactInfoPart1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}
#contactMessage{
    margin-top: 15px;
}
#contactNom:focus, #contactCategotie:focus, #contactTel:focus, #contactVille:focus, #contactEmail:focus, #contactMessage:focus {
    outline: 0; /* suppression du contour en focus */
}
#contactTitle{
    color: var(--yellow);
}
/* ************************************************************************* */


/* ************************ CLIENTS INFOS ********************************* */
.clientInfosBox{
    font-size: 14px;
    color: white;
    text-align: center;
}
.clientInfosNumber{
    font-size: 16px;
    color: var(--yellow);
}
#clientInfosContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--backgroundDark);
    height: 10vh;
    margin-top: 140px;
}
/* ************************************************************************ */


/* ************************ SECTION GALERIE ******************************** */
.galerie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.galerie-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid #ccc;
}
.galleryArrow{
    width: 27px;
    height: 27px;
    color: var(--text);
    border: 1px #ccc solid;
    border-radius: 50%;
    padding: 3px;
    line-height: 1.3;
}
.galleryArrow:hover{
    background-color: var(--titles);
    color: white;
    border: none;
    cursor: pointer;
}
.logosGallery{
    display: flex;
    border: 1px #ccc solid;
    border-radius: 50%;
    padding: 15%;
}
.topImgGallery{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
}
.topImgGallery img {
    width: 5vh;
}
#aproposTitle{
    margin: 45px 0 15px 0;
}
#galerie {
    text-align: center;
    margin-bottom: 50px
}
#galleryImg{
    width: 100%;
}
#galleryTitle{
    margin-top: 25px;
}
#galleryTitleText{
    color: var(--titles);
    font-weight: 900;
    margin-bottom: 50px;
}
#logosGalleryContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    margin: 8% 0 8%;
    justify-items: center;
    color: var(--titles);
    font-weight: 900;
}
#topGalleryLeftImg{
    width: 100%;
    border-radius: 15px;
}
/* Le texte peut se rétrécir */
#topGalleryRightPart {
    border: 1px #ccc solid;
    word-wrap: break-word; /* Autoriser la coupure des mots */
    overflow-wrap: break-word; /* Pour éviter que le texte ne déborde */
}
#topImgGalleryContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15px;
    padding: 15px;
}

#teamDescription{
    padding: 0 5px;
}
/* ***************************************************************** */


/* ************************ FOOTER ************************ */
footer {
    background-color: var(--backgroundDark);
    color: white;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footerCoordContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.footerCoordSymbolContainer{
    justify-self: end;
}
.footerSectionContent, .footerCoordContainer{
    font-size: 12px;
}
.footerSectionTitle{
    margin-bottom: 20px;
}
#footerContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
#footerTelContainer{
    margin-bottom: 10px;
}
#footerCoordSymbolContainerTel{
    padding-top: 6px;
}
#footerSectionTitleInfos::after{
    content: 'informations';
}
/* ******************************************************** */


/* ************************ MEDIA QUERIES ************************ */
@media (max-width: 1192px) {
    .footerCoordContainer{
        grid-template-columns: 35% 65%;
    }
}
@media (max-width: 909px) {
    .footerCoordContainer{
        grid-template-columns: 20% 80%;
    }
}
@media (max-width: 745px) {
    .footerCoordContainer{
        grid-template-columns: 10% 90%;
    }
}
@media (max-width: 665px) {
    .footerCoordContainer{
        grid-template-columns: 2% 98%;
    }
}

@media (max-width: 1372px) {
    .galerie-container {
        flex-direction: column;
    }
    .topGalleryLeftPart{
        display: none;
    }
    #topImgGalleryContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1117px) {
    .accueil {
        height: 50vh;
    }
    .accueil h1 {
        font-size: 1.5em;
    }
    .contentSection {
        padding: 0 10%;
    }
    #menuContainer{
        display: flex;
        justify-content: space-around;
    }
    #contactInfoPart1{
        grid-template-columns: repeat(1, 1fr);
    }
    #menuItemTeam::after{
        content: 'Équipe';
    }
    #menuItemService::after{
        content: 'Services';
    }
    #menuItemContact::after{
        content: 'Contact';
    }
    #menuItemGallery::after{
        content: 'Galerie';
    }
}

@media (max-width: 768px) {
    .contentSection {
        padding: 0 5%;
    }
}

@media (max-width: 677px) {
    header .menu-items {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .menu{
        display: block;
    }
    .sectionSeparator{
        height: 20px;
        top: -320px;
        position: relative;
    }
    .topGalleryLeftPart{
        display: none;
    }
    .topImgGallery{
        border-radius: 15px;
        height: auto;
    }
    .logosGallery{
        display: flex;
        border: 1px #ccc solid;
        border-radius: 50%;
    }
    .logosGalleryTitle{
        font-size: 12px;
    }
    .footerSectionTitle{
        margin-bottom: 10px;
    }
    #menu-toggle:checked ~ .menu-items{
        display: block;
    }
    #menu-toggle:checked ~ .menu-items > a {
        display: block;
    }
    #menu-toggle:checked + #menuHamburger::after{
        content: '\2716';
    }
    #menuContainer{
        height: 100%;
        justify-content: center;
        gap: 20px;
    }
    #agenceEcoContainer{
        position: absolute;
        top: 10px;
        left: 5px;
    }
    #servicesContainer{
        margin-top: 0;
    }
    #clientInfosContainer{
        grid-template-columns: repeat(3, 1fr);
    }
    #clientInfosBox-4{
        display: none;
    }
    #footerSectionTitleInfos::after{
        content: 'infos';
    }
    #footerContainer{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 20px;
    }
    #footerSectionCoords{
        display: flex;
        flex-direction: column;
        padding: 5px 0 5px 55px;
        grid-column: 1 / 3;
    }
    #teamMembersContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 120px;
        justify-items: center;
        margin-top: 50px;
    }
    #topImgGalleryContainer{
        justify-items: center;
    }
}

@media (max-width: 487px) {
    .accueil-content{
        bottom: 25%;
        right: 15%;
    }
    #accueil h1 {
        margin-bottom: 20px;
    }
    #servicesContainer{
        gap: 20px;
    }
    #logosGalleryContainer{
        display: none;
    }
    #clientInfosContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    #clientInfosBox-4, #clientInfosBox-3{
        display: none;
    }
    #servicesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    #serviceLeft, #serviceRight{
        justify-self: center;
    }
}
/* ******************************************************** */