@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    box-sizing: border-box;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: var(--menu);
    color: var(--text);
    position: fixed;
    width: 100%;
    top: 0;
    position: fixed; /* ou 'absolute', selon le comportement désiré */
    width: 100%; /* Assurez-vous qu'il s'étend sur toute la largeur */
    z-index: 1000; /* Assurez-vous qu'il reste au-dessus des autres éléments */
    /*background: #fff;*/
}
header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a {
    color: var(--titles);
    text-decoration: none;
    padding: 1em;
}
nav a:hover {
    background-color: var(--menuItemSelected);
}
main {
    /*padding-top: 100px; /* Espace pour l'entête fixe */
}
section {
    margin-top: 0px;
}
footer {
    background-color: var(--backgroundDark);
    color: white;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
.sectionSeparator{
    height: 50px;
}
.accueil-content {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right; /* Aligner le texte à droite */
    margin: 0; /* Ajustez selon la maquette */
    padding: 2em; /* Ajustez pour positionner le contenu en bas à droite */
    max-width: 600px;
}
.galerie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.galerie-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid #ccc;
}
.center{
    text-align: center;
}
.sectionTitle{
    color:var(--title2);
    text-align: center;
    font-size: 33px;
    margin-bottom: 25px;
}
.teamMember{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.serviceContainer{
    width: 177px;
    height: 177px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
}
.service{
    width: 77px;
    height: 77px;
    object-fit: cover;
    object-position: center;
    text-align: center;
}
.teamMemberDescription{
    font-size: 14px;
    color: var(--text);
    font-weight: 400;
}
.clientInfosBox{
    font-size: 14px;
    color: white;
}
.clientInfosNumber{
    font-size: 16px;
    color: var(--yellow);
}
.pos00{
    object-position: 0% 0%;
}
.mAuto{
    margin: auto;
}
.jStart{
    justify-self: start;
}
.jEnd{
    justify-self: end;
}
.form-group {
    margin-bottom: 15px; /* Ajoute un espace en dessous de chaque groupe d'entrée */
    width: 100%;
}

.form-group label {
    display: block; /* Rend le label en bloc pour qu'il occupe sa propre ligne */
    margin-bottom: 5px; /* Ajoute un petit espace entre le label et l'input */
}

.form-group input, textarea, #contactEmail  {
    width: 100%; /* Utiliser la largeur complète du conteneur */
    padding: 10px; /* Ajoute un peu d'espacement interne à l'input */
    border: 2px solid white; /* Une bordure légère pour l'input */
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--backgroundDark);
    color: white;
}
.topImgGallery{
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.logosGallery{
    display: flex;
    border: 1px #ccc solid;
    border-radius: 50%;
    padding: 50px;
}
.topImgGallery img {
    width: 50px;
}
.topImgGallery {
    overflow: hidden;
}
.galleryArrow{
    width: 27px;
    height: 27px;
    color: var(--text);
    border: 1px #ccc solid;
    border-radius: 50%;
    padding: 3px;
    line-height: 1.3;
}
.coordSymbol{
    width: 25px;
}
.footerCoordContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.footerCoordSymbolContainer{
    justify-self: end;
}
.footerSectionTitle{
    margin-bottom: 20px;
}
.footerSectionContent, .footerCoordContainer{
    font-size: 12px;
}
.fLeft{
    float: left;
}
.fRight{
    float: right;
}

/* Le texte peut se rétrécir */
#topGalleryRightPart {
    word-wrap: break-word; /* Autoriser la coupure des mots */
    overflow-wrap: break-word; /* Pour éviter que le texte ne déborde */
}
#accueil{
    background-image: url('/reactHTML/img/rodion-kutsaev-049M_crau5k-unsplash-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Faire en sorte que la section d'accueil occupe toute la hauteur de la fenêtre */
    position: relative;
}
#accueil h1 {
    color: white;
    font-size: 2.5em;
}
#galerie {
    text-align: center;
    padding: 4em;
}
#titleEndPart{
    color: var(--yellow);
}
#agenceEcoContainer{
    display: flex;
    color: var(--title2);;
    font-weight: 900;
}
#agenceEco{
    margin: auto;
}
#agenceEcoEnd{
    font-style: italic;
}
#menuContainer{
    display: grid;
    grid-template-columns: 10% 30% 60%;
}
#equipe, #services{
    font-weight: 900;
    color: var(--titles);
}
#teamMembersContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 50px;
}
#contact{
    padding: 15px;
}
#contactInfoPart1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}
#servicesContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 50px;
    gap: 80px;
    margin-bottom: 50px;
}
#clientInfosContainer{
    background-color: var(--backgroundDark);;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 140px;
    height: 10vh;
    align-items: center;
}
#serviceLeft{
    justify-self: end;
    text-align: center;
}
#serviceRight{
    justify-self: start;
    text-align: center;
}
#contact{
    background-color: var(--backgroundDark);
    color: white;
}
#contactButtonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#contactButton{
    background-color: var(--yellow);
    border-radius: 15px;
    font-weight: 900;
    font-size: 12px;
    padding: 10px 40px 10px 40px;
    border: none;
    margin-top: 20px;
}
#contactTitle{
    color: var(--yellow);
}
#contactMessage{
    margin-top: 15px;
}
#topImgGalleryContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15px;
    padding: 15px;
}
#topGalleryLeftImg{
    width: 100%;
    border-radius: 15px;
}
#topGalleryRightPart{
    border: 1px #ccc solid;
}
#logosGalleryContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    margin: 8% 0 8%;
    justify-items: center;
    color: var(--titles);
    font-weight: 900;
}
#galleryTitle{
    margin-top: 25px;
}
#aproposTitle{
    margin: 45px 0 15px 0;
}
#galleryTitleText{
    color: var(--titles);
    font-weight: 900;
    margin-bottom: 50px;
}
#galleryImg{
    width: 100%;
}
#galleryArrowRight{
    background-color: var(--titles);
    color: white;
    border: none;
}
#footerContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
#footerTelContainer{
    margin-bottom: 10px;
}
#menuItemTeam::after{
    content: 'Notre équipe';
}
#menuItemService::after{
    content: 'Nos services';
}
#menuItemContact::after{
    content: 'Contactez-nous';
}
#menuItemGallery::after{
    content: 'Notre galerie';
}
#footerSectionTitleInfos::after{
    content: 'informations';
}
#footerCoordSymbolContainerTel{
    padding-top: 6px;
}


@media (max-width: 1192px) {
    .footerCoordContainer{
        grid-template-columns: 35% 65%;
    }
}
@media (max-width: 909px) {
    .footerCoordContainer{
        grid-template-columns: 20% 80%;
    }
}
@media (max-width: 745px) {
    .footerCoordContainer{
        grid-template-columns: 10% 90%;
    }
}
@media (max-width: 665px) {
    .footerCoordContainer{
        grid-template-columns: 2% 98%;
    }
}

@media (max-width: 1082px) {
    .accueil {
        height: 50vh; /* Hauteur réduite pour les appareils mobiles */
    }
    .accueil h1 {
        font-size: 1.5em; /* Taille de police réduite pour les petits écrans */
    }
    .galerie-container {
        flex-direction: column;
    }
    #agenceEcoContainer, #agenceEcoSpace{
        display: none;
    }
    #menuContainer{
        display: block;
    }
    #topImgGalleryContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .topGalleryLeftPart{
        display: none;
    }
}

@media (max-width: 655px) {
    /*header nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        width: 100%;
        text-align: center;
    }*/

    #menuContainer{
        font-size: 12px;
    }
    #menuItemTeam::after{
        content: 'Équipe';
    }
    #menuItemService::after{
        content: 'Services';
    }
    #menuItemContact::after{
        content: 'Contact';
    }
    #menuItemGallery::after{
        content: 'Galerie';
    }
    #footerSectionTitleInfos::after{
        content: 'infos';
    }

    #footerContainer{
        grid-template-columns: repeat(4, 1fr);
    }
    #footerSectionGallery{
        grid-column: 1 / 5;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 67px;
    }
    #footerTelContainer{
        display: flex;
        justify-content: center;
    }
    #teamMembersContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 120px;
        justify-items: center;
        margin-top: 50px;
    }
    #topImgGalleryContainer{
        justify-items: center;
    }
    .topGalleryLeftPart{
        display: none;
    }
    .topImgGallery{
        border-radius: 15px;
        width: 70%;
        height: auto;
    }
    .logosGallery{
        display: flex;
        border: 1px #ccc solid;
        border-radius: 50%;
        padding: 25px;
    }
    .topImgGallery img {
        width: 25px;
    }
    .logosGalleryTitle{
        font-size: 12px;
    }
}

@media (max-width: 555px) {
    .logosGallery{
        padding: 15px;
    }
    .topImgGallery img {
        width: 15px;
    }
    .logosGalleryTitle{
        font-size: 10px;
    }
}
@media (max-width: 487px) {
    #accueil h1 {
        margin-bottom: 20px;
    }
    .logosGallery{
        padding: 7px;
    }
    .topImgGallery img {
        width: 7px;
    }
    .logosGalleryTitle{
        font-size: 8px;
    }
    .accueil-content{
        bottom: 25%;
        right: 15%;
    }
    #servicesContainer{
        gap: 20px;
    }
    #logosGalleryContainer{
        display: none;
    }
    #footerContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}




:root{
    --backgroundDark: #053b44;
    --text: #565E65;
    --title2: #029D5B;
    --titles: #1C2126;
    --yellow: #D5F31F;
    --menu: #fbfbfb;
    --menuItemSelected: #f2f2f2;
}